@import url('https://fonts.googleapis.com/css?family=Pacifico|Shojumaru|Walter+Turncoat&display=swap');

h1 {
    font-family: 'Shojumaro', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Walter Turncoat', cursive;
    font-weight: 200;
    color: #0ccac4;
}